@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.social-links {
    font-family: "Poppins", sans-serif;
    list-style: none;
    display: flex;

    li a {
        text-decoration: none;
    }
}

.social-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    margin-right: 11px;
    cursor: pointer
}

.social-twitter {
    background-color: #55acee
}

.social-facebook {
    background-color: #3b5999
}

.social-linkedin {
    background-color: #0077B5
}

.social-google {
    background-color: #dd4b39
}

.social-instagram {
    background-color: #dd4b39
}

.social-icon {
    transition: 0.3s all
}

.social-icon:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: #ffffff;
}