.react{
    background-color: rgb(114, 131, 168);
    color: white;
    padding: 20px 50px;
}
.react-gif{
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-gif img{
    width: 60%;
    margin-bottom: 24px;
}
.react>h1{
    font-size: 50px;
    margin-bottom: 24px;
}
.react>p{
    font-size: 34px;
    margin: 10px 0;
}
.react>ol>li{
    font-size: 24px;
    margin-left: 40px;
}