.benefits{
    min-height: 540px;

    .benefits__content{
        max-width: 1170px;

        .benefits__header{
            text-transform: uppercase;
            margin-top: 50px;
            color: #556b72;
            h1{
                font-size: 30px;
                margin: -15px 0 10px;
            }
            h2{
                font-size: 20px;
                font-weight: 200;
                margin: 0;
            }

        }

        .benefits__boxes:nth-child(1){grid-area:block1}
        .benefits__boxes:nth-child(2){grid-area:block2}
        .benefits__boxes:nth-child(3){grid-area:block3}
        .benefits__boxes:nth-child(4){grid-area:block4}
        .benefits__boxes:nth-child(5){grid-area:block5}
        .benefits__boxes:nth-child(6){grid-area:block6}

        .benefits__boxes{

            display: grid;
            grid-template-areas: 
            'block1 block2 block3'
            'block4 block5 block6';

            @media screen and (max-width: 980px) {
                grid-template-areas: 
                'block1 block2'
                'block3 block4'
                'block5 block6';
            }
            @media screen and (max-width: 700px) {
                grid-template-areas: 
                'block1'
                'block2'
                'block3'
                'block4'
                'block5'
                'block6';
            }
            .benefits__box{
                display: flex;
                padding: 50px 0;

                .box__image{
                   display: flex;
                   width: 220px;
                   justify-content: center;
                   align-items: flex-start;
                }
                .box__text{
                    h1{
                        font-size: 20px;
                        margin-bottom: 15px;
                    }
                    p{
                        color: gray;
                    }
                }
            }
        }
    }
    
}