.signUp{
    background: #e7f4f8;
    height: 230px;

    .signUp__content{
        max-width: 1170px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 600px){
            flex-direction: column;
        }
    }
    .signUp__logo{
        width: 30%;
        color: #556b72;
        img{
            width: 30px;
        }
        h1{
            font-size: 30px;
            margin: 5px 0 25px;
        }
        h2{
            font-size: 20px;
            font-weight: 200;
            margin: 0;
        }
    }
    .signUp__form{
        width: 70%;

        input{
            box-sizing: border-box;
            height: 55px;
        }
        input[type=text]{
            width: 65%;
            padding: 0 20px;
            margin: 0;
        }
        input[type=submit]{
            width: 30%;
            margin: -4px;
            background: #ff8261;
            color: #fff;
            border:0px #ff8261;
            font-weight: bold;
            &:hover{
                background-color: #52cbf8;
            }
        }

    }
}