/*OpenSans
OpenSans Extrabold
FontAwesome
OpenSans Bold*/

@import './header';
@import './landing';
@import './search';
@import './hosting';
@import './benefits';
@import './signUp';

*{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}
body{
    max-width: 1900px;
}

footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
}