.test_test{
    background-image: url("../images/test_background.svg");
    background-repeat: no-repeat;
    background-position: 160px 0;
    margin-top: 80px;

    &_content{
        max-width: 864px;
        margin: 0 auto;
        padding-top: 115px;

        h1{
            font-weight: bold;
            font-size: 40px;
            line-height: 115%;
            letter-spacing: 0.03em;
            text-align: center;
        }

        &_statistics{
            margin-top: 53px;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.03em;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &_box{
                width: 380px;
            }
        }

        &_page{
            width: 864px;
            box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
            border-radius: 6px;
            background: #FFFFFF;
            padding: 61px 88px;
            margin-top: 48px;

            h1{
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;
                letter-spacing: 0.03em;
            }

           &_question{
            
                h2,p{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.03em;
                }
                h2{
                    margin-top: 45px;
                    margin-bottom: 25px;
                }
                p{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 10px;
                        margin-top: -2px;
                    }
                    margin-bottom: 10px;
                }
                .true{
                    color: #3CA5D1;
                    font-weight: bold;
                }
                .disabled{
                    color: #B2B2B2;
                }
           }
        }
    }

    @media screen and (max-width: 900px){
        background-position: -100px 250px;
        margin-top: 0px;
        background-size: 692px 591px;
        &_content{
            padding: 50px 20px;

            h1{ 
                font-size: 18px; 
                margin-top: 0;
                margin-bottom: -30px;
                text-align: center;
            }

            &_statistics{
                padding: 0 20px;
                font-size: 16px;
                line-height: 130%;
            }

            &_page{
                width: 100%;
                padding: 30px 20px;
            }
        }
    }
    @media screen and (max-width: 840px){
        &_content{
            h1{
                text-align: left;

            }
            &_statistics{
                flex-direction: column;
                align-items: center;
                
                &_box{
                    margin-top: 20px;       
                }
            }
        }
    }
    @media screen and (max-width: 540px){
        &_content{
            &_statistics{
                font-size: 14px;
                &_box{
                    width: 100%;
                }
            }
        }
    }
}
