@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:700,400");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "proxima-nova-thin", sans-serif;
}

body .wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

.landing {
  min-height: 800px;
  background: linear-gradient(120.66deg, #080B21 23.86%, #434E91 111.73%);
  padding-top: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing_content {
  max-width: 1040px;
  margin: 0 auto;
}

.landing_content .myMenu {
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing_content .myMenu .navbar-brand {
  margin: 0;
}

.landing_content .myMenu .logo-small {
  display: none;
}

.landing_content .myMenu .navbar-collapse, .landing_content .myMenu .navbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.landing_content .myMenu a {
  color: #fff;
}

.landing_content .myMenu .burger {
  color: #fff;
  font-size: 24px;
  padding-top: 6px;
}

.landing_content .myMenu .search {
  margin: 0;
}

.landing_content .myMenu .search .myInput {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.03em;
  width: 250px;
  height: 33px;
}

.landing_content .myMenu .search2 {
  margin-left: 20px;
  display: none;
}

.landing_content .myMenu .search2 .myInput2 {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.03em;
  width: 190px;
}

.landing_content .myMenu ul li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  margin: 0 20px;
}

.landing_content .myMenu ul li > a:hover {
  text-shadow: 0px 0px 5px #fff;
}

.landing_content .myMenu ul li:nth-child(1) a {
  margin-left: 0px;
}

.landing_content .myMenu ul li:nth-last-child(1) a {
  margin-right: 0px;
}

.landing_content .myMenu ul li .nav-link {
  padding: 0;
}

.landing_content .myMenu ul li .dropdown-item {
  color: black;
}

.landing_content_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 134px;
  padding: 0 10px;
}

.landing_content_banner .banner_text {
  color: #FFFFFF;
  font-style: normal;
  letter-spacing: 0.03em;
}

.landing_content_banner .banner_text h1, .landing_content_banner .banner_text p, .landing_content_banner .banner_text .btn {
  margin: 18px 0;
}

.landing_content_banner .banner_text h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 119.3%;
}

.landing_content_banner .banner_text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.landing_content_banner .banner_text .btn {
  background: #3CA5D1;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 32px;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
}

.landing_content_banner .banner_text .btn:hover {
  background: #54acd1;
  -webkit-box-shadow: 0px 8px 24px rgba(60, 165, 209, 0.2), 0px 2px 6px rgba(60, 165, 209, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 8px 24px rgba(60, 165, 209, 0.2), 0px 2px 6px rgba(60, 165, 209, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.landing_content_benefits {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 110px;
  min-height: 130px;
}

.landing_content_benefits_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
}

.landing_content_benefits_box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.landing_content_benefits_box_content .logo {
  margin-right: 10px;
}

.landing_content_benefits_box_content .text h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.landing_content_benefits_box_content .text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}

.landing_content_benefits_box .content_left {
  width: 90%;
}

.landing_content_benefits_box .content_center {
  width: 80%;
}

.landing_content_benefits_box .content_right {
  width: 85%;
}

.landing_content_benefits .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing_content_benefits .right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing_content_benefits_box:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 1040px) {
  .landing_content {
    width: 100%;
  }
  .landing_content_banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    margin-top: 80px;
  }
  .landing_content_banner .banner_text h1 {
    font-size: 28px;
  }
  .landing_content_banner .banner_text p {
    font-size: 14px;
  }
  .landing_content_banner .banner_text .btn {
    width: 100%;
    padding: 16px 0;
  }
  .landing_content_benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .landing_content_benefits_box {
    width: 400px;
    padding: 0 20px;
  }
  .landing_content_benefits_box_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20px;
  }
  .landing_content_benefits_box .content_left,
  .landing_content_benefits_box .content_center,
  .landing_content_benefits_box .content_right {
    width: 100%;
  }
  .landing_content_benefits_box:nth-child(2) {
    border: 0;
  }
  .landing_content_benefits .left, .landing_content_benefits .center, .landing_content_benefits .right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .landing .logo-big {
    display: none;
  }
  .landing .logo-small {
    display: block !important;
  }
  .landing .search {
    display: none;
  }
  .landing .search2 {
    display: block !important;
  }
  .landing .myMenu ul > li .nav-link {
    padding: 15px 0;
    font-size: 15px;
  }
  .landing .myMenu ul > li:nth-child(1) a {
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .landing .banner_logo img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 400px) {
  .landing .landing_content_benefits_box {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .landing {
    padding-top: 40px;
  }
  .logo-big {
    display: none;
  }
  .logo-small {
    display: block !important;
  }
  .search2 {
    margin: 0;
  }
}

.program {
  max-width: 1040px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

.program > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #303552;
}

.program .program_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.program .program_boxes .program_box {
  width: 336px;
  height: 613px;
  padding: 0;
  margin: 50px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F9F9F9;
  border-radius: 10px;
}

.program .program_boxes .program_box:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
          box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.program .program_boxes .program_box .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 45px;
}

.program .program_boxes .program_box .card-body .program_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 141px;
  height: 50px;
  position: relative;
  margin: 20px 0;
}

.program .program_boxes .program_box .card-body .program_price div {
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.03em;
}

.program .program_boxes .program_box .card-body .program_price div:nth-child(1) {
  font-weight: 300;
  font-size: 24px;
  margin-top: -2px;
}

.program .program_boxes .program_box .card-body .program_price div:nth-child(2) {
  font-weight: 800;
  font-size: 40px;
}

.program .program_boxes .program_box .card-body .program_price div:nth-child(3) {
  font-weight: 300;
  font-size: 24px;
  margin-top: 20px;
}

.program .program_boxes .program_box .card-body .program_header {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #303552;
  margin-bottom: 10px;
}

.program .program_boxes .program_box .card-body .program_subHeader {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130.5%;
  letter-spacing: 0.05em;
  color: #303552;
  margin-bottom: 16px;
}

.program .program_boxes .program_box .card-body .program_services {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #303552;
}

.program .program_boxes .program_box .card-body .program_services p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program .program_boxes .program_box .card-body .program_services p img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px;
}

.program .program_boxes .program_box .card-body .program_services p span {
  position: relative;
}

.program .program_boxes .program_box .card-body .program_services p span a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3CA5D1;
}

.program .program_boxes .program_box .card-body .program_services p span a:hover {
  color: #4dc1f3;
}

.program .program_boxes .program_box .card-body .program_services p span .learnMore {
  border: 1px solid #0485bd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 12px;
  position: absolute;
  top: -5px;
  margin-left: 4px;
  width: 100%;
}

.program .program_boxes .program_box .card-body .program_services p span .learnMore:hover {
  border: 1px solid #4dc1f3;
}

.program .program_boxes .program_box .card-body .program_chouse form .costom-select {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-radius: 2px;
  width: 100%;
}

.program .program_boxes .program_box .card-body .program_chouse form .custom-select {
  color: #B3B3B3;
  height: 45px;
  border: 1px solid #B2B2B2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/arrows.svg");
  background-size: 1em auto, 100%;
}

.program .program_boxes .program_box .card-body .program_chouse form .btn {
  background: #3CA5D1;
  -webkit-box-shadow: 0px 8px 24px rgba(60, 165, 209, 0.2), 0px 2px 6px rgba(60, 165, 209, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 8px 24px rgba(60, 165, 209, 0.2), 0px 2px 6px rgba(60, 165, 209, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  width: 100%;
  color: #FFFFFF;
  padding: 15px 65px;
  border: 0;
}

.program .program_boxes .program_box .card-body .program_chouse form .btn:hover {
  background: #438aa8;
}

.program .program_benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.program .program_benefits_box {
  width: 952px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.program .program_benefits_box:nth-child(odd) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.program .program_benefits_box_info {
  max-width: 418px;
}

.program .program_benefits_box_info h1, .program .program_benefits_box_info p {
  letter-spacing: 0.02em;
  color: #303552;
}

.program .program_benefits_box_info h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  width: 100%;
  margin-bottom: 20px;
}

.program .program_benefits_box_info .listed {
  font-weight: normal;
  font-size: 16px;
  line-height: 147.3%;
  padding-left: 20px;
  position: relative;
}

.program .program_benefits_box_info .listed::before {
  content: '\2022';
  position: absolute;
  left: 0px;
  font-size: 50px;
  color: #3CA5D1;
}

.program .program_benefits_box_info_block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
          box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
  border-radius: 10px;
  padding: 38px;
  background-color: #F9F9F9;
  margin-bottom: 17px;
  margin-right: 40px;
  max-width: 424px;
  cursor: pointer;
}

.program .program_benefits_box_info_block:hover {
  background: #FFFFFF;
}

.program .program_benefits_box_info_block h2, .program .program_benefits_box_info_block p {
  color: #303552;
  font-style: normal;
  pointer-events: none;
}

.program .program_benefits_box_info_block h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 147.3%;
}

.program .program_benefits_box_info_block p {
  font-weight: normal;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 980px) {
  .program .program_benefits_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .program .program_benefits_box:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .program .program_benefits_box_info {
    padding: 0 24px;
  }
  .program .program_benefits_box_info h1 {
    font-size: 24px;
  }
  .program .program_benefits_box_info_block {
    margin-right: 0;
  }
  .program .program_benefits_box .lastImage {
    display: none;
  }
  .program .program_benefits_box_image img {
    max-width: 100%;
  }
}

.enroll {
  min-height: 550px;
  background: linear-gradient(120.66deg, #080B21 23.86%, #434E91 111.73%);
  color: #ffffff;
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enroll_box {
  min-height: 326px;
  width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enroll_box h1 {
  font-weight: bold;
  font-size: 40px;
}

.enroll_box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enroll_box_content_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /*
                @keyframes anim1 {
                    100%{
                        transform: rotate3d(0, 1, 0, 360deg)
                    }
                }*/
}

.enroll_box_content_icons img {
  z-index: 1000;
}

.enroll_box_content_icons .line {
  border: 1px dashed rgba(60, 165, 209, 0.22);
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 1px;
}

.enroll_box_content_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enroll_box_content_text p {
  font-size: 18px;
  font-weight: normal;
  width: 20%;
}

.enroll_box_content_text p:nth-child(2) {
  width: 26%;
}

@media screen and (max-width: 700px) {
  .enroll_box h1 {
    font-size: 24px;
    margin: 34px 0;
  }
  .enroll_box_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 15px;
  }
  .enroll_box_content_icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    /*
                    @keyframes anim2 {
                        0%{
                            transform: scale(0.78); 
                        }
                        100%{
                            transform: scale(0.78) rotate3d(0, 1, 0, 360deg)
                        }
                    }
                    */
  }
  .enroll_box_content_icons img {
    -webkit-transform: scale(0.78);
            transform: scale(0.78);
  }
  .enroll_box_content_icons .line {
    -webkit-transform: scaleY(1.78);
            transform: scaleY(1.78);
  }
  .enroll_box_content_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 400px;
  }
  .enroll_box_content_text p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px 0 0 34px;
  }
  .enroll_box_content_text p:nth-child(2) {
    width: 100%;
  }
}

.test {
  padding: 100px 0;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #303552;
}

.test_chuse {
  max-width: 920px;
  margin: 0 auto;
}

.test_chuse h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 22px;
  line-height: 115%;
}

.test_chuse h2 {
  font-size: 18px;
  line-height: 150%;
  width: 722px;
  margin: 0 auto;
}

.test_chuse_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test_chuse_boxes_box {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.test_chuse_boxes_box .box_text {
  padding: 0 17px;
}

.test_chuse_boxes_box .box_text h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.test_chuse_boxes_box .box_text p {
  font-size: 16px;
  line-height: 150%;
}

.test_chuse a {
  text-decoration: none;
}

.test_chuse_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.test_chuse_button .test_btn {
  background: #3CA5D1;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 32px;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
}

.test_chuse_button .test_btn:hover {
  background: #54acd1;
  -webkit-box-shadow: 0px 8px 24px rgba(60, 165, 209, 0.2), 0px 2px 6px rgba(60, 165, 209, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 8px 24px rgba(60, 165, 209, 0.2), 0px 2px 6px rgba(60, 165, 209, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 800px) {
  .test {
    padding: 50px 0;
  }
  .test_chuse {
    padding: 0 24px;
  }
  .test_chuse h1 {
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0.01em;
  }
  .test_chuse h2 {
    font-size: 14px;
    line-height: 130%;
    width: 100%;
  }
  .test_chuse h1, .test_chuse h2 {
    text-align: left;
  }
  .test_chuse_boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .test_chuse_boxes_box {
    margin-top: 38px;
  }
  .test_chuse_boxes_box .box_text p {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
  }
  .test_chuse_button {
    margin-top: 40px;
  }
  .test_chuse_button .test_btn {
    width: 100%;
    text-align: center;
  }
}

.test_badge {
  max-width: 864px;
  margin: 0 auto;
  margin-top: 120px;
}

.test_badge h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 115%;
  letter-spacing: 0.03em;
}

.test_badge h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  width: 722px;
  margin: 0 auto;
  margin-top: 22px;
}

.test_badge_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.test_badge_banner_text {
  width: 420px;
  font-style: normal;
  font-weight: 250;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.test_badge_banner_logo {
  width: 50%;
}

.test_badge_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 87px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.test_badge_boxes_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 256px;
}

.test_badge_boxes_box .box_text {
  padding-left: 15px;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.test_badge_boxes_box:nth-child(2) {
  width: 270px;
}

@media screen and (max-width: 900px) {
  .test_badge {
    margin-top: 50px;
    padding: 0 22px;
  }
  .test_badge h1 {
    text-align: left;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0.01em;
  }
  .test_badge h2 {
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
  }
  .test_badge_banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .test_badge_banner_text {
    display: none;
  }
  .test_badge_banner_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .test_badge_boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .test_badge_boxes_box {
    width: 100%;
  }
  .test_badge_boxes_box .box_text {
    font-size: 14px;
    line-height: 130%;
  }
}

@media screen and (max-width: 480px) {
  .test_badge_banner_logo {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.test_test {
  background-image: url("../images/test_background.svg");
  background-repeat: no-repeat;
  background-position: 160px 0;
  margin-top: 80px;
}

.test_test_content {
  max-width: 864px;
  margin: 0 auto;
  padding-top: 115px;
}

.test_test_content h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 115%;
  letter-spacing: 0.03em;
  text-align: center;
}

.test_test_content_statistics {
  margin-top: 53px;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.test_test_content_statistics_box {
  width: 380px;
}

.test_test_content_page {
  width: 864px;
  -webkit-box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
          box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
  border-radius: 6px;
  background: #FFFFFF;
  padding: 61px 88px;
  margin-top: 48px;
}

.test_test_content_page h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */