@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:700,400");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "proxima-nova-thin", sans-serif;
}

body .wrapper {
  max-width: 1440px;
  min-height: 1300px;
  margin: 0 auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

.program {
  max-width: 1040px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

.program > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #303552;
}

.program .program_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.program .program_boxes .program_box {
  width: 336px;
  height: 613px;
  -webkit-box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
          box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
  padding: 0;
  margin: 50px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F9F9F9;
  border-radius: 10px;
}

.program .program_boxes .program_box:hover {
  background-color: #FFFFFF;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.program .program_boxes .program_box .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 45px;
}

.program .program_boxes .program_box .card-body .program_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 141px;
  height: 50px;
  position: relative;
  margin: 20px 0;
}

.program .program_boxes .program_box .card-body .program_price div {
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.03em;
}

.program .program_boxes .program_box .card-body .program_price div:nth-child(1) {
  font-weight: 300;
  font-size: 24px;
  margin-top: -2px;
}

.program .program_boxes .program_box .card-body .program_price div:nth-child(2) {
  font-weight: 800;
  font-size: 40px;
}

.program .program_boxes .program_box .card-body .program_price div:nth-child(3) {
  font-weight: 300;
  font-size: 24px;
  margin-top: 20px;
}

.program .program_boxes .program_box .card-body .program_header {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #303552;
  margin-bottom: 10px;
}

.program .program_boxes .program_box .card-body .program_subHeader {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130.5%;
  letter-spacing: 0.05em;
  color: #303552;
  margin-bottom: 16px;
}

.program .program_boxes .program_box .card-body .program_services {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #303552;
}

.program .program_boxes .program_box .card-body .program_services p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program .program_boxes .program_box .card-body .program_services p img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px;
}

.program .program_boxes .program_box .card-body .program_services p span {
  position: relative;
}

.program .program_boxes .program_box .card-body .program_services p span a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #3CA5D1;
}

.program .program_boxes .program_box .card-body .program_services p span a:hover {
  color: #4dc1f3;
}

.program .program_boxes .program_box .card-body .program_services p span .learnMore {
  border: 1px solid #0485bd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 12px;
  position: absolute;
  top: -5px;
  margin-left: 4px;
  width: 100%;
}

.program .program_boxes .program_box .card-body .program_services p span .learnMore:hover {
  border: 1px solid #4dc1f3;
}

.program .program_boxes .program_box .card-body .program_chouse form .costom-select {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-radius: 2px;
  width: 100%;
}

.program .program_boxes .program_box .card-body .program_chouse form .custom-select {
  color: #B3B3B3;
  height: 45px;
  border: 1px solid #B2B2B2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/arrows.svg");
  background-size: 1em auto, 100%;
}

.program .program_boxes .program_box .card-body .program_chouse form .btn {
  background: #3CA5D1;
  -webkit-box-shadow: 0px 8px 24px rgba(60, 165, 209, 0.2), 0px 2px 6px rgba(60, 165, 209, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 8px 24px rgba(60, 165, 209, 0.2), 0px 2px 6px rgba(60, 165, 209, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 65px;
  border: 0;
}

.program .program_boxes .program_box .card-body .program_chouse form .btn:hover {
  background: #438aa8;
  color: #f5ff6c;
}

.program .program_benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.program .program_benefits_box {
  width: 952px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.program .program_benefits_box:nth-child(odd) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.program .program_benefits_box_info {
  max-width: 418px;
}

.program .program_benefits_box_info h1, .program .program_benefits_box_info p {
  letter-spacing: 0.02em;
  color: #303552;
}

.program .program_benefits_box_info h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 125%;
  width: 100%;
  margin-bottom: 20px;
}

.program .program_benefits_box_info .listed {
  font-weight: normal;
  font-size: 16px;
  line-height: 147.3%;
  padding-left: 20px;
  position: relative;
}

.program .program_benefits_box_info .listed::before {
  content: '\2022';
  position: absolute;
  left: 0px;
  font-size: 50px;
  color: #3CA5D1;
}

.program .program_benefits_box_info_block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
          box-shadow: 0px 10px 50px rgba(48, 53, 82, 0.08), 0px 2px 6px rgba(48, 53, 82, 0.04), 0px 0px 1px rgba(48, 53, 82, 0.06);
  border-radius: 10px;
  padding: 38px;
  background-color: #F9F9F9;
  margin-bottom: 17px;
  margin-right: 40px;
  max-width: 424px;
  cursor: pointer;
}

.program .program_benefits_box_info_block:hover {
  background: #FFFFFF;
}

.program .program_benefits_box_info_block h2, .program .program_benefits_box_info_block p {
  color: #303552;
  font-style: normal;
  pointer-events: none;
}

.program .program_benefits_box_info_block h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 147.3%;
}

.program .program_benefits_box_info_block p {
  font-weight: normal;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 980px) {
  .program .program_benefits_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .program .program_benefits_box:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .program .program_benefits_box_info {
    padding: 0 24px;
  }
  .program .program_benefits_box_info h1 {
    font-size: 24px;
  }
  .program .program_benefits_box_info_block {
    margin-right: 0;
  }
  .program .program_benefits_box .lastImage {
    display: none;
  }
  .program .program_benefits_box_image img {
    max-width: 100%;
  }
}

.enroll {
  min-height: 550px;
  background: linear-gradient(120.66deg, #080B21 23.86%, #434E91 111.73%);
  color: #ffffff;
  font-style: normal;
  line-height: 125%;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enroll_box {
  min-height: 326px;
  width: 870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enroll_box h1 {
  font-weight: bold;
  font-size: 40px;
}

.enroll_box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enroll_box_content_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /*
                @keyframes anim1 {
                    100%{
                        transform: rotate3d(0, 1, 0, 360deg)
                    }
                }*/
}

.enroll_box_content_icons img {
  z-index: 1000;
}

.enroll_box_content_icons .line {
  border: 1px dashed rgba(60, 165, 209, 0.22);
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 1px;
}

.enroll_box_content_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enroll_box_content_text p {
  font-size: 18px;
  font-weight: normal;
  width: 20%;
}

.enroll_box_content_text p:nth-child(2) {
  width: 26%;
}

@media screen and (max-width: 700px) {
  .enroll_box h1 {
    font-size: 24px;
    margin: 34px 0;
  }
  .enroll_box_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 15px;
  }
  .enroll_box_content_icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    /*
                    @keyframes anim2 {
                        0%{
                            transform: scale(0.78); 
                        }
                        100%{
                            transform: scale(0.78) rotate3d(0, 1, 0, 360deg)
                        }
                    }
                    */
  }
  .enroll_box_content_icons img {
    -webkit-transform: scale(0.78);
            transform: scale(0.78);
  }
  .enroll_box_content_icons .line {
    -webkit-transform: scaleY(1.78);
            transform: scaleY(1.78);
  }
  .enroll_box_content_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 400px;
  }
  .enroll_box_content_text p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px 0 0 34px;
  }
  .enroll_box_content_text p:nth-child(2) {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */