.button-3 {
    background-color: transparent;
    border: 1px solid white!important;
    -webkit-border-radius: 60px;
    border-radius: 10px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
}
@keyframes glowing-3 {
    0% {
        transform: rotate(0.5deg);
    }
    2% {
        transform: rotate(-0.5deg);
    }
    4% {
        transform: rotate(0.5deg);
    }
    8% {
        transform: rotate(-0.5deg);
    }
    10% {
        transform: rotate(0.5deg);
    }
    12% {
        transform: rotate(-0.5deg);
    }
    14% {
        transform: rotate(0.5deg);
    }
    16% {
        transform: rotate(-0.5deg);
    }
    18% {
        transform: rotate(0.5deg);
    }
    20% {
        transform: rotate(-0.5deg);
    }
    22% {
        transform: rotate(0deg);
    }
}
.button-3 {
    animation: glowing-3 5s infinite;
}