.button-5{
    padding: 24px!important;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent!important;
    border: 1px solid white!important;
    position: relative;
    overflow: hidden;
    color: #fff;
    border: none;
    font-size: 18px;
    min-width: 360px;
    position: relative;
    animation: 10s ease-in-out infinite btn_box;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: 10s ease-in-out infinite text_all;
}

.text-2{
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation: 10s ease-in-out infinite text_2;
}
@keyframes btn_box {
    0%{box-shadow: none;}
    10%{box-shadow: none;}
    12% {transform: scale(1);}
    14% {transform: scale(1.01);}
    16% {transform: scale(1);}

}
@keyframes text_all {
    0%{
        letter-spacing: 2px;
        top: 50%;
    }
    5%{
        letter-spacing: 1px;
        top: 50%;
    }
    10%{
        top: 35%;
        box-shadow: red;
    }
    99%{
        top: 35%;
        opacity: 1;
    }
    100%{
        letter-spacing: 1px;
        top: 50%;
        opacity: 0;
    }
}

@keyframes text_2 {
    0%{
        opacity: 0;
        top: 330%;
    }
    5%{
        opacity: 0;
    }
    10%{
        opacity: 1;
        top: 150%;
    }
    99%{
        top: 150%;
        opacity: 1;
    }
}


.dropdown-toggle::after {
    display: none!important;
}