.portfolio{
    background: rgb(33, 56, 83);
    box-sizing: border-box;
    padding: 40px 0 0;
}
.portfolio h1{
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 40px;
}

.boxes:nth-child(1){grid-area: box1;}
.boxes:nth-child(2){grid-area: box2;}
.boxes:nth-child(3){grid-area: box3;}
.boxes:nth-child(4){grid-area: box4;}
.boxes:nth-child(5){grid-area: box5;}
.boxes:nth-child(6){grid-area: box6;}
.boxes{
    display: grid;
    grid-template-areas: 
    'block1 block2 block3'
    'block4 block5 block6';
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    background: rgb(236, 226, 226);
}
.imgBox{
    width: 100%;
}
.imgBox img{
    width: 90%;
    margin: 10px 5% 0 5%;
}
.box .content{
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
h2{
    width: 50%;
}
.content a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-family: sans-serif;
}
.content-live{
    background: rgb(38, 146, 146);
}
.content-live:hover{
    background: rgb(70, 211, 211);
}
.content-git{
    background: rgb(63, 56, 56);
}
.content-git:hover{
    background: rgb(97, 90, 90);
}
/*

.box:hover{
    height: 300px;
}
@media screen and (max-width: 950px){
    .card{
        flex-direction: column;
    }
    .box{
        width: 500px;
        height: 320px;
    }
    .box:hover{
        height: 360px;
    } 
}
.box .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.box .imgBox img{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box:hover .imgBox img{
    opacity: 1;
}
.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    bottom: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    bottom: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box:before, .box:after{
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content{
    opacity: 1;
}

.box .content h2{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}