@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700,400');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "proxima-nova-thin", sans-serif;
    .wrapper{
        max-width: 1440px;
        min-height: 1300px;
        margin: 0 auto;
        background-color: #FFFFFF;
    }
}


@import './program';