.about{
    background: rgb(88, 86, 86);
    color: whitesmoke;
    font-family: Tahoma;
}
.about__container>h3>a{
    color: navy;
}
.about__container>h3>a:hover{
    color: red;
}
.about__container>img{
    border-radius: 50%;
}
.about__container{
    box-sizing: border-box;
    padding: 20px 80px;
    font-size: 1.2rem;
}
.about__container h4{
    margin: 8px 0 5px;
}
.about__container h5{
    margin: 5px 0;
}
.about__container h2{
    margin: 5px 0 15px;
}
.goToMenu{
    text-decoration: none;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 50px;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.5s;
}
.goToMenu:hover{
    opacity: 0.1;
}