.articles-article>h1{
    font-size: 16pt;
    font-family: Tahoma;
}
.articles-article>p{
    font-size: 12pt;
    font-family: 'Times New Roman';
    color: #8d8d8d;
}
.articles-images{
    margin: 30px 0;
    display: flex;
    height: 44px;
    justify-content: space-around;
}
.article-images-block{
    display: flex;
    flex-direction: row;
}
.article-images-block>img{
    display: flex;
    align-items: center;
}
.article-images-block-text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}
.article-images-block-text>p{
    font-style: italic;
    font-size: 12pt;
}
@media screen and (max-width: 550px){
    .articles-images{
        display: flex;
        flex-direction: column;
        height: 250px;
        justify-content: center;
        align-items: center;
    }
    .article-images-block{
        width: 50%;
        height: 44px;
        margin-top: 15px;
    }
}
