.main-block{
    height: 270px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
}
.main-block-foto, .main-block-info{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%; 
}
.main-block-foto>img{
    width: 100%;
    height: 100%;
}
.main-block-foto{
    margin-right: 15px;
}
.main-block-info{
    margin-left: 15px;
}
.main-block-info-text>h2{
    font-family: Tahoma;
    font-size: 18pt;
    margin-top: -5px;
}
.main-block-info-text>p{
    font-family: 'Times New Roman';
    font-size: 11pt;
    color: #8d8d8d;
}
.main-block-info-text>button{
    font-family: Tahoma;
    background-color: #c93c33;
    border: 0;
    border-radius: 3px;
    width: 116px;
    height: 28px;
    color: white;
}
.main-block-info-text>button:hover{
    background-color: #cc5850;
    color: rgb(243, 243, 207);
    cursor: pointer;
}