.form {
  width: 700px;
  min-height: 300px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form input {
  margin: 0;
  padding: 0 5px;
  border-radius: 0;
  border: 1px solid #d4d2d2;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form select {
  border-radius: 3px;
  border: 1px solid #d4d2d2;
}

.form .wrong {
  background: #e07a7a;
  min-width: 150px;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1000;
}

.form__section {
  padding: 20px;
}

.form__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__location input {
  width: 100%;
}

.form__location input[type=button] {
  width: 60px;
  background: url("../arr.png") no-repeat;
  background-size: 60%;
  background-position: center;
  border-left: 0;
  border-right: 0;
}

.form__location .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.form__location .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.form__location .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.form__location .autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.form__location .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.form__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__options select {
  width: 160px;
}

.form__options .phone-number {
  position: relative;
}

.form__comment a {
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  color: gray;
}

.form__comment a:hover {
  color: red;
}

.form__comment .order-comment {
  margin-left: 100px;
}

.form__comment .for-comment {
  visibility: hidden;
  height: 0;
  width: 100%;
}

.form__comment #comment {
  width: 100%;
  margin: 20px 0 5px;
}

.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #d4d2d2;
}

.form__submit select, .form__submit input {
  height: 40px;
  border-radius: 3px;
}

.form__submit select {
  width: 180px;
}

.form__submit input {
  background: #f3d148;
  border: 0;
  font-size: 16px;
  padding: 0 20px;
}

.form__submit input:hover {
  background: #FFD633;
}

.form__info {
  color: gray;
  font-size: 12px;
  padding: 0 20px 20px;
}

@media screen and (max-width: 740px) {
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .form__location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__location input[type=button] {
    margin: 10px 0;
    border: 1px solid #d4d2d2;
  }
  .form__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__options select, .form__options .phone-number {
    width: 80%;
    margin: 10px 0;
    height: 40px;
  }
  .form__options #form-phone {
    width: 100%;
    height: 40px;
  }
}

@media screen and (max-width: 430px) {
  .form__submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__submit select {
    width: 180px;
    margin: 5px 0;
  }
  .form__submit input {
    width: 180px;
    margin: 5px 0;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body header {
  height: 10vh;
}

body header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body header .menu__logo {
  font-size: 30px;
  min-width: 200px;
}

body header .menu__logo .red {
  color: red;
}

body header .menu__links a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 14px;
  color: gray;
}

body header .menu__links a:hover {
  color: red;
}

body header .menu__links .active {
  color: black;
}

body header .menu__links .active:hover {
  color: black;
}

body header .menu__burger {
  display: none;
}

@media screen and (max-width: 830px) {
  body header .menu .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .menu .menu__links {
    display: none;
  }
  body header .menu .menu__burger {
    position: absolute;
    right: 20px;
    display: block;
    cursor: pointer;
  }
}

body .menu-opened {
  height: 200px;
}

body .menu-opened .menu .menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .menu-opened .menu .menu__links a {
  margin: 10px;
}

@media screen and (min-width: 830px) {
  body .menu-opened {
    height: 10vh;
  }
  body .menu-opened .menu .menu__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body main {
  background-image: url("../map.jpg");
  height: 90vh;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */