.exapmles{
    overflow: hidden;
    background: linear-gradient(120.66deg,#f4f5f7 23.86%,#e9eaec 111.73%);
    padding: 20px 0 50px;
    .example{
        height: 440px;
        overflow-y: hidden;
        margin-bottom: 40px;
        transition: .5s;
        img{
            border: 1px solid gray;
            width: 280px;
            height: max-content;
        }

        &:hover{
            transform: scale(1.05);
        }
    }
}