.exapmles{
    overflow: hidden;
    padding: 20px 0 50px;

    &_header{
        background: linear-gradient(120.66deg,#080b21 23.86%,#434e91 111.73%);
        min-height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }
    .example{
        height: 440px;
        overflow-y: hidden;
        margin-bottom: 40px;
        transition: .5s;
        img{
            border: 1px solid gray;
            width: 280px;
            height: max-content;
        }

        &:hover{
            transform: scale(1.05);
        }
    }
}