.jobs{
    min-height: 500px;
    padding: 0 0 50px;
    &_links{
        padding: 30px 0;
        .jobs_link{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            filter: grayscale(1);
            transition: .4s;
            box-sizing: border-box;
            width: 200px;
            height: 100px;
            border-radius: 5px;

            &:hover{
                background: rgba(5,8,168,0.05);
                filter: grayscale(0);
            }
        }
    }
    .job_info{
        min-width: 320px;
    }
}