.landing {
    background: linear-gradient(120.66deg, #080b21 23.86%, #434e91 111.73%);
    min-height: 580px;
    color: #ffffff;

    .photo img {
        width: 180px;
        height: 180px;
    }

}

.job_info_description {
    font-size: 1.05rem;
}