@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  scroll-behavior: smooth;
}

.container {
  max-width: 1400px !important;
  margin: 0 auto;
  padding: 0;
}

.landing {
  padding-top: 16px;
  background: linear-gradient(120.66deg, #080b21 23.86%, #434e91 111.73%);
  min-height: 580px;
  color: #ffffff;
}

.landing .photo {
  margin-top: 80px;
}

.jobs {
  min-height: 500px;
  padding: 0 0 50px;
}

.jobs_links {
  padding: 30px 0;
}

.jobs_links .jobs_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.jobs_links .jobs_link:hover {
  background: rgba(5, 8, 168, 0.05);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.jobs .job_info {
  min-width: 320px;
}

.exapmles {
  overflow: hidden;
  padding: 20px 0 50px;
}

.exapmles_header {
  background: linear-gradient(120.66deg, #080b21 23.86%, #434e91 111.73%);
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}

.exapmles .example {
  height: 440px;
  overflow-y: hidden;
  margin-bottom: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.exapmles .example img {
  border: 1px solid gray;
  width: 280px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.exapmles .example:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.tech_header {
  background: linear-gradient(120.66deg, #080b21 23.86%, #434e91 111.73%);
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}

.tech .tech_box p {
  margin: 0;
}

.tech .explain {
  font-size: 13px;
}

.social-links {
  font-family: "Poppins", sans-serif;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li a {
  text-decoration: none;
}

.social-icon {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  margin-right: 11px;
  cursor: pointer;
}

.social-twitter {
  background-color: #55acee;
}

.social-facebook {
  background-color: #3b5999;
}

.social-linkedin {
  background-color: #0077B5;
}

.social-google {
  background-color: #dd4b39;
}

.social-instagram {
  background-color: #dd4b39;
}

.social-icon {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.social-icon:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  text-decoration: none;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */

.projects-section {
  padding: 20px 0 50px;
}

.projects_header {
  background: linear-gradient(120.66deg, #080b21 23.86%, #434e91 111.73%);
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}